<h1>Editing Section Timing Student</h1>

<%= render 'form', section_timing_student: @section_timing_student %>

<%= link_to 'Show', @section_timing_student %> |
<%= link_to 'Back', section_timing_students_path %>
